@media only screen and (max-width: 768px) {
    body {
        color: #404040;
    }

    header {
        background-image: url('/images/bg-pattern-circles.svg');
        background-repeat: no-repeat;
        background-position: center;
        height: 500px;

    }
}